/*
This File contains parameters that can be changed to configure the pipeline
*/

// Max resource options
// Defaults only, expecting to be overwritten
params.max_memory                 = '2.GB'
params.max_cpus                   = 1
params.max_time                   = '1.h'


// Required Pipeline Config Settings
params.sample_sheet = '/fastscratch/edwardbird/amr-2024-team-dave/feature_gen_test/samplesheet_testdataset.csv'

params.project_name = 'First_FeatureGen_Test'

params.publish_dir_mode = 'defualt' // Options: 'defualt', copy', 'symlink', 'link'  Note: Defualt recommended (copy, exept on resume). When using link (Hardlink) output dir and work dir must be on the same filesystem 

params.workflow_opt = 'genearte_features'

params.email = 'edwardbirdlab@gmail.com'



// Load base.config by default for all pipelines
includeConfig 'configs/base_config.cfg'